<a href="https://colab.research.google.com/github/rharkovsky/pucCienciadeDados/blob/main/MVP1_Harkovsky.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **# MVP Análise Exploratória de Dados - ROBERTO HARKOVSKY**

## *Carregando Dados*

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')


# url a importar
url_dados = "/content/gdrive/MyDrive/" + "datasets/microdados2021_arq4.txt"


# carga do dataset através do csv
enade = pd.read_csv(url_dados, delimiter=';', encoding='ISO-8859-1')

# verifica o tipo
print(type(enade))

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>

,NU_ANO,CO_CURSO,QE_I27,QE_I28,QE_I29,QE_I30,QE_I31,QE_I32,QE_I33,QE_I34,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2021,85058,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,2021,44947,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2021,624,1.0,1.0,1.0,1.0,1.0,3.0,2.0,2.0,...,7.0,5.0,5.0,8.0,8.0,5.0,1.0,1.0,1.0,5.0
3,2021,1266766,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,4.0,5.0,1.0,7.0,8.0,8.0,8.0,8.0,8.0,8.0
4,2021,99940,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

## **Inicio da Análise Exploratória**

In [12]:
# exibe as 5 primeiras linhas
enade.head()

,NU_ANO,CO_CURSO,QE_I27,QE_I28,QE_I29,QE_I30,QE_I31,QE_I32,QE_I33,QE_I34,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2021,85058,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,2021,44947,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2021,624,1.0,1.0,1.0,1.0,1.0,3.0,2.0,2.0,...,7.0,5.0,5.0,8.0,8.0,5.0,1.0,1.0,1.0,5.0
3,2021,1266766,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,4.0,5.0,1.0,7.0,8.0,8.0,8.0,8.0,8.0,8.0
4,2021,99940,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [7]:
# exibe as 5 últimas linhas
enade.tail()

,NU_ANO,CO_CURSO,QE_I27,QE_I28,QE_I29,QE_I30,QE_I31,QE_I32,QE_I33,QE_I34,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
489861,2021,70985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489862,2021,70985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489863,2021,70985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489864,2021,70985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489865,2021,70985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# verificando os tipos de cada coluna 
enade.dtypes

In [ ]:
# Nome das colunas
enade.columns

In [11]:
# Dimensões do dataset
enade.shape

(489866, 44)

In [ ]:
# exibindo a quantidade de linhas por coluna
enade.count()

In [15]:
# exibindo um sumário estatístico
enade.describe()

,NU_ANO,CO_CURSO,QE_I27,QE_I28,QE_I29,QE_I30,QE_I31,QE_I32,QE_I33,QE_I34,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
count,489866.0,4.898660e+05,408966.000000,408962.000000,408962.000000,408961.000000,408957.000000,408951.000000,408959.000000,408955.000000,...,408945.000000,408947.000000,408945.000000,408945.000000,408947.000000,408942.000000,408946.000000,408946.000000,408945.000000,408950.000000
mean,2021.0,5.830854e+05,5.390856,5.287525,5.271658,5.172092,5.437202,5.271287,5.400982,5.395528,...,5.129316,5.142745,5.350837,5.444348,5.496438,5.389295,5.378879,5.472781,5.221419,5.449784
std,0.0,7.605381e+05,0.993180,1.141813,1.094561,1.196409,1.009175,1.321604,1.030131,1.044936,...,1.411815,1.477550,1.469714,1.572970,1.552312,1.318702,1.332900,1.158485,1.654719,1.617449
min,2021.0,6.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2021.0,8.728000e+04,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000
50%,2021.0,1.076330e+05,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
75%,2021.0,1.202856e+06,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
max,2021.0,5.001487e+06,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000