<a href="https://colab.research.google.com/github/rharkovsky/pucCienciadeDados/blob/main/MVP1_Harkovsky.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **# MVP Análise Exploratória de Dados - ROBERTO HARKOVSKY**

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

## *Carregando Dados*

In [2]:
# url a importar
url_dados = "/content/gdrive/MyDrive/" + "datasets/microdados2021_arq43.txt"


# carga do dataset através do csv
enade = pd.read_csv(url_dados, delimiter=';', encoding='ISO-8859-1')

# verifica o tipo
print(type(enade))

<class 'pandas.core.frame.DataFrame'>

## **Inicio da Análise Exploratória**

In [3]:
# Dimensões do dataset
enade.shape

(489866, 13)

In [4]:
# exibe as 5 primeiras linhas
enade.head()

,NU_ANO,CO_CURSO,QE_I82,QE_I83,QE_I84,QE_I85,QE_I86,QE_I87,QE_I88,QE_I89,QE_I90,QE_I91,QE_I92
0,2021,73192,1.0,6.0,5.0,5.0,5.0,6.0,4.0,6.0,6.0,6.0,6.0
1,2021,12690,1.0,7.0,6.0,8.0,4.0,4.0,2.0,2.0,6.0,1.0,6.0
2,2021,14224,1.0,2.0,4.0,1.0,6.0,4.0,2.0,2.0,2.0,6.0,6.0
3,2021,44947,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,2021,69747,1.0,3.0,1.0,8.0,8.0,2.0,1.0,8.0,8.0,8.0,1.0

In [5]:
# exibe as 5 últimas linhas
enade.tail()

,NU_ANO,CO_CURSO,QE_I82,QE_I83,QE_I84,QE_I85,QE_I86,QE_I87,QE_I88,QE_I89,QE_I90,QE_I91,QE_I92
489861,2021,70985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489862,2021,70985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489863,2021,70985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489864,2021,70985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489865,2021,70985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Mostra as informações do dataset
enade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489866 entries, 0 to 489865
Data columns (total 13 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   NU_ANO    489866 non-null  int64
 1   CO_CURSO  489866 non-null  int64
 2   QE_I82    408956 non-null  float64
 3   QE_I83    408956 non-null  float64
 4   QE_I84    408956 non-null  float64
 5   QE_I85    408953 non-null  float64
 6   QE_I86    408956 non-null  float64
 7   QE_I87    408956 non-null  float64
 8   QE_I88    408954 non-null  float64
 9   QE_I89    408955 non-null  float64
 10  QE_I90    408954 non-null  float64
 11  QE_I91    408956 non-null  float64
 12  QE_I92    408954 non-null  float64
dtypes: float64(11), int64(2)
memory usage: 48.6 MB

O dataset é massivo com 52 colunas e cerca de 500k linhas.

In [7]:
# Nome das colunas
enade.columns

Index(['NU_ANO', 'CO_CURSO', 'QE_I82', 'QE_I83', 'QE_I84', 'QE_I85', 'QE_I86',
       'QE_I87', 'QE_I88', 'QE_I89', 'QE_I90', 'QE_I91', 'QE_I92'],
      dtype='object')

In [8]:
# exibindo a quantidade de linhas por coluna
enade.count()

NU_ANO      489866
CO_CURSO    489866
QE_I82      408956
QE_I83      408956
QE_I84      408956
QE_I85      408953
QE_I86      408956
QE_I87      408956
QE_I88      408954
QE_I89      408955
QE_I90      408954
QE_I91      408956
QE_I92      408954
dtype: int64

Observa-se diversas colunas em branco, referente a questões do questionario não respondidas

In [9]:
# número de valores ausentes nas colunas
enade.isnull().sum()

NU_ANO          0
CO_CURSO        0
QE_I82      80910
QE_I83      80910
QE_I84      80910
QE_I85      80913
QE_I86      80910
QE_I87      80910
QE_I88      80912
QE_I89      80911
QE_I90      80912
QE_I91      80910
QE_I92      80912
dtype: int64

In [10]:
# exibindo um sumário estatístico
enade.describe()

,NU_ANO,CO_CURSO,QE_I82,QE_I83,QE_I84,QE_I85,QE_I86,QE_I87,QE_I88,QE_I89,QE_I90,QE_I91,QE_I92
count,489866.0,4.898660e+05,408956.000000,408956.000000,408956.000000,408953.000000,408956.000000,408956.000000,408954.000000,408955.000000,408954.000000,408956.000000,408954.000000
mean,2021.0,5.830854e+05,5.208198,5.300223,5.334356,5.630420,5.324981,5.205890,5.159561,5.131462,5.148467,4.164612,3.962947
std,0.0,7.605381e+05,1.663263,1.616078,1.428498,1.705644,1.884109,1.383198,1.416725,1.492181,1.508984,2.333157,2.576496
min,2021.0,6.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2021.0,8.728000e+04,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,4.000000,4.000000,4.000000,2.000000,1.000000
50%,2021.0,1.076330e+05,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,4.000000,4.000000
75%,2021.0,1.202856e+06,6.000000,6.000000,6.000000,7.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
max,2021.0,5.001487e+06,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000

In [11]:
# Verifica a distribuição das classes
enade.groupby('CO_CURSO').size()

CO_CURSO
6          18
19         34
23         25
24         18
25         30
           ..
5001385    27
5001409     8
5001434    25
5001459    35
5001487     1
Length: 7997, dtype: int64