<a href="https://colab.research.google.com/github/rharkovsky/pucCienciadeDados/blob/main/MVP1_Harkovsky.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **# MVP Análise Exploratória de Dados - ROBERTO HARKOVSKY**

## *Carregando Dados*

In [2]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')


# url a importar
url_dados = "/content/gdrive/MyDrive/" + "datasets/microdados2021_arq1.txt"


# carga do dataset através do csv
enade = pd.read_csv(url_dados, delimiter=';', encoding='ISO-8859-1')

# verifica o tipo de enade
print(type(enade))

# exibe as 5 primeiras linhas
enade.head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>

,NU_ANO,CO_CURSO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO
0,2021,6,1,1,10028,2001,1,5103403,51,5
1,2021,6,1,1,10028,2001,1,5103403,51,5
2,2021,6,1,1,10028,2001,1,5103403,51,5
3,2021,6,1,1,10028,2001,1,5103403,51,5
4,2021,6,1,1,10028,2001,1,5103403,51,5

## **Inicio da Análise Exploratória**

In [3]:
enade.shape

(489866, 10)